<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
user reservations list {{res}}

<h1>Бронирования</h1>

{% for reservation in res %}
<p>
  ID бронирования: {{ reservation.id }}
  <form action="{{ url_for('delete_reservation', reservation_id=reservation.id) }}" method="post">
    <input type="hidden" name="id" value="{{ reservation.id }}"> <!-- Скрытое поле с service_id -->
    <input type="submit" value="Удалить">
  </form>
</p>
{% endfor %}
</body>
</html>
