<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action='/pre_reservation' method="POST">
    <input type="hidden" name="gym_id" value="{{ gym_id }}">

    <input type="hidden" name="res" value="{{ res }}">

    <input type="hidden" name="trainer_id" value="{{ trainer_id }}">
    <input type="submit" value="Перейти к бронированию">
    <label for="service_id">Choose service_id:</label>

        <select name="service_id" id="service_id">
    {% for service in res %}
    <option value="{{ service['service_id'] }}">{{ service['service_name'] }}</option>
    {% endfor %}
<input type="date" id="start" name="desired_date" value="2024-07-22" min="2024-05-30" max="2024-05-31" />
</select>
    <br>----<br>
<p><a href="/fitness_center/{{ gym_id }}/trainer/{{ trainer_id }}/score">Залишити відгук про тренера {{ res[0].trainer_name}}</a></p><br>----<br>

</form>

<p><a href="/logout">logout</a></p>
----
<p><a href="/">home</a></p>

<th>Відгуки та оцінки</th>

{% for rat in rating %}
<p><a href="/fitness_center/{{gym_id}}/trainer/{{trainer_id}}/score">відгук -- {{ rat.text }} <br> оцінка: {{ rat.point }}</a></p>
{% endfor %}
</body>
</html>